<div class="inline-flex items-center gap-2 bg-muted p-2 rounded-lg {{
        direction === 'vertical' ? 'flex-col' : 'flex-row'
      }} ">
  <!-- plus -->
  <button [disabled]="disablePlus" (click)="upScore()" type="button"
    class="text-gray-400 px-2 disabled:opacity-20 hover:text-primary">
    <i class="fas fa-plus"></i>
  </button>
  <!-- end plus -->

  <p class="text-primary text-lg font-black">{{ score }}</p>

  <!-- minus -->
  <button [disabled]="disableMinus" (click)="downScore()" type="button"
    class="text-gray-400 px-2 disabled:opacity-20 hover:text-primary">
    <i class="fas fa-minus"></i>
  </button>
  <!-- end minus -->
</div>
