<div fxLayout="column" fxLayoutGap="6px" >
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" class="p-16 bg-white rounded-lg"
    ngClass.md="p-20">
    <!-- score -->
    <ml-score direction="vertical" class="hidden" ngClass.gt-md="block" [disable]="isYou" (up)="up.emit(comment.id)"
      (down)="down.emit(comment.id)" [score]="comment.score">
    </ml-score>
    <!-- score -->

    <div fxLayout="column" fxLayoutGap="6px" class="w-full">
      <div fxLayout="row" fxLayoutGap="6px" class="flex items-center">
        <!-- avatar -->
        <img class="w-30 h-30 rounded-full" [src]="avatar" [alt]="user.username" />
        <!-- end avatar -->

        <div fxLayout="row" fxLayoutGap="6px" class="flex items-center">
          <!-- user name -->
          <a routerLink="/" class="font-black">{{ user.username }}</a>
          <!-- end user name -->

          <ng-container *ngIf="isYou">
            <span class="badge-primary">you</span>
          </ng-container>
        </div>

        <!-- created at -->
        <p  class="text-sm text-muted" ngClass.gt-md="text-base">{{ comment.createdAtTimestamp | mlTimestampToDateFormat }}</p>
        <!-- end created at -->

        <!-- actions  desktop-->
        <ml-comment-actions fxFlex fxLayoutAlign="end center" class="hidden" ngClass.gt-md="block" [isYou]="isYou" (reply)="onReply()"
          (delete)="delete.emit(comment.id)" (edit)="onEdit()">
        </ml-comment-actions>
        <!-- end actions desktop-->
      </div>

      <div *ngIf="!openEditPanel" class="w-full gap-4">

        <!-- content -->
        <ml-comment-content [comment]="comment"></ml-comment-content>
        <!-- end content -->

        <div class="flex items-center justify-between" ngClass.gt-md="hidden">
          <!-- score -->
          <ml-score [disable]="isYou" (up)="up.emit(comment.id)" (down)="down.emit(comment.id)" [score]="comment.score">
          </ml-score>
          <!-- end score -->

          <!-- actions -->
          <ml-comment-actions [isYou]="isYou" (reply)="onReply()" (delete)="delete.emit(comment.id)" (edit)="onEdit()">
          </ml-comment-actions>
          <!-- end actions -->
        </div>

      </div>


      <!-- edit comment -->
      <ml-edit-comment (edit)="onUpdate($event)" [comment]="comment" *ngIf="openEditPanel">
        <ml-score  ngClass.gt-md="hidden" [disable]="isYou" (up)="up.emit(comment.id)" (down)="down.emit(comment.id)"
          [score]="comment.score">
        </ml-score>
      </ml-edit-comment>
      <!-- end edit comment -->
    </div>
  </div>


  <!-- reply panel-->
  <ml-enter-comment submitButtonName="reply" *ngIf="replyingTo" [preWrite]="replyingTo" [focus]="true" [user]="myUser"
    (enter)="sendReply($event)" class="block mt-4">
  </ml-enter-comment>
  <!-- end reply panel-->

  <!-- replies -->
  <div class="pl-8 pt-8 mt-4 ml-8 ml-comment__replies" ngClass.gt-md="pl-16 ml-16" *ngIf="comment.replies?.length">
    <ml-comment-list (reply)="reply.emit($event)" (delete)="delete.emit($event)" (up)="up.emit($event)"
      (down)="down.emit($event)" (edit)="edit.emit($event)" [myUser]="myUser" [comments]="comment.replies">
    </ml-comment-list>
  </div>
  <!-- end replies -->
</div>
