<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="4px">
  <textarea fxFlex
    class="block resize-none min-h-80 overflow-visible"
    [focus]="true"
    [formControl]="formControl"
    cols="30"
    rows="6"
  ></textarea>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.gt-md="end center">
    <!-- use to inject score component -->
    <ng-content></ng-content>
    <!-- end use to inject score component -->

    <!-- update button -->
    <button
      [disabled]="formControl.invalid"
      (click)="onUpdate()"
      type="button"
      class="btn btn-primary"
    >
      Update
    </button>
    <!-- end update button -->
  </div>
</div>
