@import './app/shared/styles/variables.scss';
@import './app/shared/styles/utilities.scss';

@font-face {
  font-family: "Rubik";
  src: url("https://fonts.google.com/specimen/Rubik");
}


body {
  font-family: 'Rubik', Arial, sans-serif;
  font-weight: $font-weight-normal;
}

p {
  font-size: $font-size-normal;
}


.badge-primary {
  background-color: $primary1;
  color: $neutral5;
  padding: 2px 6px;
  font-size: $font-size-small;
}

textarea {
  border: 1px solid $neutral3;
  padding: 10px 16px;
  border-radius: 4px;
  font-family: inherit;
}

button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: transparent;
  font-weight: $font-weight-heavy;
}
