$primary1: hsl(238, 40%, 52%);
$primary2: hsl(358, 79%, 66%);
$primary3: hsl(239, 57%, 85%);
$primary4: hsl(357, 100%, 86%);

$neutral1: hsl(212, 24%, 26%);
$neutral2: hsl(211, 10%, 45%);
$neutral3: hsl(223, 19%, 93%);
$neutral4: hsl(228, 33%, 97%);
$neutral5: hsl(0, 0%, 100%);

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-heavy: 700;

$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-large: 20px;
$font-size-xl: 36px;
$font-size-xxl: 54px;
